<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My notes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body class="bg-success p-5 bg-opacity-10">

<div class="row">
    <h1 class="col" th:text="'Workplaces where this equipment was: ( ' + ${count} +' pcs )'"></h1>

</div>
<br>
<h3 th:if="${count} == 0" th:text="'No workplaces'"></h3>
<br>
<div class="frame" th:if="${count} != 0">

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Address</th>
            <th>Head Manager</th>
            <th>Day Arrived</th>
            <th>Day Moved</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="work: ${listOfWorkplaces}">
            <td th:text="${work.id}"></td>
            <td th:text="${work.workplace.address}"></td>
            <td th:text="${work.workplace.headManager}"></td>
            <td th:text="${work.arrivingDate}"></td>
            <td th:text="${work.dayMoved}"></td>

        </tr>

        </tbody>
    </table>
</div>



</body>
</html>
